name: C++ CI & Mirror Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential clang-tidy git

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          xvfb \
          libudev-dev \
          libopenal-dev \
          libvorbis-dev \
          libflac-dev \
          libx11-dev \
          libxrandr-dev \
          libxcursor-dev \
          libxi-dev \
          libgl1-mesa-dev \
          libfreetype6-dev

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run clang-tidy
        run: |
          cd build
          run-clang-tidy -p . \
            ../ecs/src/**/*.cpp \
            ../server/src/**/*.cpp \
            ../client/src/**/*.cpp \
            ../common/src/**/*.cpp

      - name: Build project
        run: cmake --build build -- -j$(nproc)

      - name: Run tests
        run: |
          EXIT_CODE=0

          xvfb-run --auto-servernum build/server/tests/rtype_server_tests || EXIT_CODE=1
          xvfb-run --auto-servernum build/common/test/rtype_common_tests || EXIT_CODE=1
          xvfb-run --auto-servernum build/ecs/tests/rtype_ecs_tests || EXIT_CODE=1

          exit $EXIT_CODE
  mirror:
    name: Mirror Repository
    runs-on: ubuntu-latest
    needs: build
    if: success()
    steps:
      - name: Set up SSH for push
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create a bare clone of the source repository
        run: git clone --bare git@github.com:${{ github.repository }}.git .

      - name: Mirror push to Epitech repository
        run: git push --mirror git@github.com:EpitechPGE3-2025/G-CPP-500-LIL-5-2-rtype-10.git
